html {
  scroll-padding-top: 60px
}

.container {
  max-width: 1140px;
}

.text-green {
  color: #198754;
}

/* progress bar css */
.page-progress-bar-container {
  z-index: 9999;
}

.page-progress-bar-container .page-progress-bar {
  height: 4px;
  width: 0%;
}

.navbar-nav .nav-item .bar {
  height: 2px;
  width: 0%;
}

/* banner css */
.banner {
  background-image: url(images/newgrange-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  text-shadow: 0px 4px 6px #000;
  text-wrap: balance;
  font-size: 45px;
}

@media (min-width: 993px) {
  .banner h1 {
    font-size: 72px;
  }
}
