html {
  scroll-padding-top: 60px
}

.container {
  max-width: 1140px;
}

.text-green {
  color: #198754;
}

.large-text-with-stroke {
  font-size: calc(50px + 0.5vw);
  text-shadow: 0px 0px 4px #000000;
}

@media(min-width: 576px){
  .large-text-with-stroke {
    font-size: calc(50px + 4.5vw);
  }
}

.btn-primary {
  background-color: #198754;
  border-color: #198754;
}

.btn-primary:hover {
    background-color: #ffffff;
    border-color: #198754;
    color: #198754;
}

/* progress bar css */
.page-progress-bar-container {
  z-index: 9999;
}

.page-progress-bar-container .page-progress-bar {
  height: 4px;
  width: 0%;
}

/* navbar css */
.navbar-nav .nav-item .bar {
  height: 2px;
  width: 0%;
}

/* banner css */
.banner {
  background-image: url(images/newgrange-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  text-shadow: 0px 4px 6px #000;
  text-wrap: balance;
  font-size: 45px;
  opacity: 0;
  transform: translateX(-2000px);
}

@media (min-width: 993px) {
  .banner h1 {
    font-size: 72px;
  }
}

/* about sectin css */
@media (min-width: 993px) {
  #about img {
    position: absolute;
    max-width: 50vw;
    right: 20px;
  }
}

/* direction section css */
#directions .list-padding-left {
  padding-left: 1.1em;
}

@media (min-width: 992px) {
  #directions .middle-column:before {
    content: "";
    position: absolute;
    width: 160%;
    height: 80%;
    background: #e9ecef;
    left: -30%;
    top: -2%;
    z-index: -1;
  }
}
